<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Accept.html</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row mb-3">
        <div class = "col-sm-2"></div>
        <div class = "col-sm-2 justify-content-center"><h1>Accept Form</h1></div>
        <div class = "col-sm-2"></div>
    </div>
    <form method = "post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            </div><div class="col-sm-4">
              <input type="text" class="form-control" id="name" name="name">
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          </div><div class="col-sm-4">
            <input type="email" class="form-control" id="email" name="email">
        </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
          <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            </div><div class="col-sm-4">
            <input type="text" class="form-control" id="phone" name="phone">
          </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
            <label for="summary" class="col-sm-2 col-form-label">Summary</label>
            </div><div class="col-sm-4">
                <textarea class="form-control" id="summary" name="summary" rows="4"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
            <label for="degree" class="col-sm-2 col-form-label">Degree</label>
            </div><div class="col-sm-4">
                <textarea class="form-control" id="degree" name="degree" rows="2"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1"><label for="school" class="col-sm-2 col-form-label">School</label></div>
            
            <div class="col-sm-4">
                <textarea class="form-control" id="school" name="school" rows="2"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
            <label for="university" class="col-sm-2 col-form-label">University</label>
            </div><div class="col-sm-4">
                <textarea class="form-control" id="university" name="university" rows="2"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1">
            <label for="previous_work" class="col-sm-2 col-form-label">Previous Work</label>
            </div><div class="col-sm-4">
                <textarea class="form-control" id="previous_work" name="previous_work" rows="3"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-1"><label for="skills" class="col-sm-2 col-form-label">Skills</label>
            </div><div class="col-sm-4">
                <textarea class="form-control" id="skills" name="skills" rows="3"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 align-middle"><button type="submit" class="btn btn-dark">Submit</button>
            </div>
            <div class="col-sm-2"></div>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>